/* General Styles */
:root {
    --primary-color: #1B3A5C;
    --primary-rgb: 27 58 92;
    --secondary-color: #F0F0EE;
    --accent1-color: #2E86AB;
    --accent2-color: #FFFFFF;
    --heading-font: "Source Sans 3",
        Arial,
        Helvetica,
        sans-serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent2-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

/* header */

header {
    display: grid;
    grid-template-columns: 30% 70%;
    background-color: var(--primary-color);
}

header img {
    margin: 0 auto;
    width: 100px;
    height: auto;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: var(--accent2-color);
    font-size: 1rem;
    font-weight: 700;
}

/* Homepage */
.home-hero {
    position: relative;
}

.home-hero img {
    width: 100%;
    height: auto;
}

.home-hero h1 {
    color: var(--primary-color);
    position: absolute;
    left: 175px;
    top: 2rem;
    font-size: 3rem;
}

.cta a {
    display: block;
    text-decoration: none;
    position: absolute;
    background-color: rgb(var(--primary-rgb)/ 80%);
    color: var(--accent2-color);
    padding: 1rem 1.5rem;
    width: fit-content;
    border-radius: 1.5rem;
    border: 1px solid var(--accent2-color);
    z-index: 2;
    bottom: 5rem;
    left: 6rem;
    font-size: 1.75rem;
}

.home-hero:after {
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 100%;
    height: 10rem;
    content: '';
    background: linear-gradient(transparent, var(--primary-color));
    z-index: 1;
}

.background {
    background-color: var(--primary-color);
    margin-top: -31px;
    position: relative;
    padding: 5rem 0 0 0;
}

.purpose-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    background-color: var(--secondary-color);
    padding: 1rem 1rem 3rem 1rem;
}

.purpose-grid h2 {
    grid-column: 1/3;
    background-color: transparent;
    color: var(--primary-color);
    font-size: 2rem;
    padding: 2rem 0 2rem 0;
}

.purpose-grid img {
    width: 400px;
    height: 250px;
    border-radius: .5rem;
}

.left-column {
    border-right: 3px solid var(--primary-color);
    padding: 0 2rem 1rem 1rem;
}

.right-column {
    padding: 0 1rem 1rem 1rem;
}

.purpose-grid h3 {
    color: var(--primary-color);
    padding: 1rem 1rem 0 1rem;
}

.purpose-grid p {
    padding: 0;
}

.newsletter-grid {
    display: grid;
    grid-template-columns: 3fr 2fr;
    align-items: center;
    padding-bottom: 0;
}

.newsletter-content {
    padding: 1rem 1rem 1rem 2rem;
}

.newsletter-content h2 {
    background: none;
    text-align: left;
    font-size: 2rem;
    padding-bottom: 0;
    padding-left: 1rem;
    padding-right: 0;
}

.newsletter-content p {
    max-width: 450px;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

.newsletter-content form {
    background: none;
    color: var(--accent2-color);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}

.newsletter-content input {
    padding: 4px;
    min-width: 200px;
}

.newsletter-content button {
    padding: .5rem 1rem .5rem 1rem;
    font-size: 1rem;
    border-radius: .5rem;
}

.newsletter-img img {
    width: 100%;
    height: auto;
    opacity: .20;
    mask-image: linear-gradient(to right, transparent, black 25%);
}

/* About Us Page */

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--accent2-color);
}

.hero h1 {
    position: absolute;
    text-align: center;
    background-color: var(--primary-color);
    width: 100%;
    padding: 2rem;
    top: 0;
    opacity: 80%;
    font-size: 3rem;
}

h2 {
    background-color: var(--accent1-color);
    width: 100%;
    text-align: center;
    padding: 1rem;
}

nav,
p,
article {
    margin: 16px;
    padding: 8px;
}

section p {
    color: var(--primary-color);
}

section img {
    max-width: 100%;
    height: auto;
}

.grid {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    gap: 2rem;
    align-items: center;
    background-color: var(--secondary-color);
}

.figures {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--secondary-color);
    padding: 1rem;
}

.figures img {
    width: 125px;
    height: auto;
}

.figures figcaption {
    text-align: center;
    color: var(--primary-color);
    font-size: 50%;
}

.hero article {
    position: absolute;
    top: 7rem;
    background-color: var(--secondary-color);
    padding: 0;
    margin: 1.5rem;
    color: var(--primary-color);
}

.hero article img {
    width: 9rem;
    height: auto;
    float: right;
    margin: 8px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

/* Trips Page */

.trip-hero {
    position: relative;
}

.trip-hero img {
    width: 100%;
    height: auto;
}

.trip-hero h1 {
    position: absolute;
    color: var(--accent2-color);
    left: 150px;
    top: 155px;
    font-size: 3rem;
}

.trip-hero p {
    position: absolute;
    color: var(--accent2-color);
    text-align: center;
    max-width: 475px;
    left: 150px;
    top: 190px;
}

.trip-hero:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 9rem;
    content: '';
    background: linear-gradient(transparent, var(--secondary-color));
    z-index: 1;
}

.trip-section {
    background-color: var(--secondary-color);
    position: relative;
    padding-top: 2rem;
}

.trip-section h2 {
    background: none;
    color: var(--primary-color);
    font-size: 2.5rem;
}

.trip {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 3rem;
    padding: 2rem;
    align-items: center;
}

.trip img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: .25rem;
}

.trip-text {
    color: var(--primary-color);
    padding-left: 1rem;
}

.trip-text h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.trip-text p {
    margin-top: 0;
    line-height: 1.3;
    margin-left: 0;
    padding-left: 0;
}

.reverse {
    grid-template-columns: 2fr 3fr;
    background-color: #E7EEF3;
}

.reverse img {
    order: 2;
}

.reverse .trip-text {
    order: 1;
}

.trip-table-section {
    background-color: var(--secondary-color);
    padding-bottom: 4rem;
    padding-top: 2rem;
}

.trip-table-section h2 {
    background: none;
    color: var(--primary-color);
    font-size: 2rem;
    padding: 2rem;
}

.trip-table {
    margin: auto auto;
    width: 700px;
    border-collapse: collapse;

}

.trip-table thead {
    background-color: var(--primary-color);
}

.trip-table th {
    padding: .5rem 1rem .5rem 1rem;
}

.trip-table tr:nth-child(even) {
    background-color: #E7EEF3;
}

.trip-table td {
    padding: .5rem 1rem .5rem 1rem;
    text-align: center;
    border: 1px solid var(--accent2-color);
}

.trip-table tbody {
    color: var(--primary-color);
}

.contact-cta {
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding: 2rem 1rem 2rem 1rem;

}

.contact-cta h2 {
    background: none;
    text-align: left;
    grid-column: 1;
    padding: 0;
    margin: .5rem;
}

.contact-cta p {
    grid-column: 1;
    margin: .5rem;
    padding: 0;
}

.contact-cta a {
    display: block;
    text-decoration: none;
    background-color: var(--accent1-color);
    color: var(--accent2-color);
    padding: 1rem 1.5rem;
    width: fit-content;
    border-radius: 1.5rem;
    border: 1px solid var(--accent2-color);
    font-size: 1rem;
    grid-column: 2;
    justify-self: center;
    align-self: center;
}

/* Contact Us Page */

.info {
    display: block;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    text-align: center;
}

.info p {
    margin: 0;
}

.info h1 {
    color: var(--primary-color);
    padding: 1rem;
}

.map-form {
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: 45% 55%;
}

iframe {
    width: 350px;
    height: 400px;
    margin: 2rem;
}

form {
    display: grid;
    box-sizing: border-box;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    margin: 2rem;
    width: 400px;
    padding: 10px;
}

.form-grid {
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
}

.form-grid label {
    text-align: center;
}

.form-grid input {
    height: 2rem;
    margin-right: 10px;
}

fieldset {
    border: none;
}

.radio {
    display: flex;
    align-items: center;
}

textarea {
    min-width: 380px;
    height: 4rem;
}

button {
    background-color: var(--accent1-color);
    color: var(--accent2-color);
    display: block;
    border: 1px solid rgb(0 0 0/10%);
}

.employees {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--secondary-color);
    padding: 1rem;
}

.employees img {
    width: 125px;
    height: 100px;
    align-items: center;
}

.employees figcaption {
    text-align: center;
    color: var(--primary-color);
    font-size: 10px;
}

/* footer */

footer {
    color: var(--accent2-color);
    background-color: var(--primary-color);
    padding-bottom: 1px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

footer p {
    text-align: center;
}

.socialmedia {
    gap: 10px;
}

.socialmedia img {
    width: 2.5rem;
    height: auto;
}