nav {
    background-color: rgb(58, 121, 193);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: rgb(58, 121, 193);
}

main {
    max-width: 840px;
}

main img {
    width: 150px;
    height: auato;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

aside {
    width: 20rem;
    margin: 2rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    color: rgb(58, 121, 193);
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 1rem;
    border-top: 3px solid rgb(58, 121, 193);
    text-align: center
}