:root {
    --primary-color: rgb(58, 121, 193);
    --padding: 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: var(--primary-color);
    padding: var(--padding);
}

nav a {
    color: white;
    display: block;
    padding: var(--padding);
}

h1 {
    color: var(--primary-color);
    padding-top: var(--padding);
    padding-left: var(--padding);
}

main {
    max-width: 840px;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: var(--padding);
}

aside {
    width: 20rem;
    text-align: center;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 100px;
    left: 9rem;
}

p {
    padding: var(--padding);
}

footer {
    margin-top: var(--padding);
    border-top: 3px solid var(--primary-color);
    text-align: center
}

/* Class Selectors */
.box {
    margin: var(--padding);
    border: 1px solid rgba(0, 0, 0, .1);
    padding: var(--padding);
    background-color: #eeee;
    color: #000;
}