* {
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
}

header,
main,
footer {
    max-width: 800px;
    margin: 0 auto;
}

header {
    background-color: #333333;
    color: white;
    padding: .25rem;
    text-align: center;
    font-size: 2rem;
}

main {
    width: 400px;
    margin: 0 auto;
}

img {
    box-shadow: 0 0 30px black;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
}

section {
    margin: 2em 0;
    background-color: #dddddd;
    padding: 1rem;
}

section h2 {
    text-align: left;
    border-bottom: 1px solid black;
}

footer {
    background-color: #333333;
    color: white;
    padding: .25rem;
    text-align: center;
    font-size: larger;
}